@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap'); 

*{
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}

body {
    background-color: black;

}

h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    
}

hr {
    color: #ffffffa9;
    height: 1px;
    width: 100%;
    align-content: center;

}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
}


.navbar {
    display: grid;
    grid-template-columns: 30% 20% 20% 20% 10%;
}

/*div & span styles*/
.container {
    
    margin-left: 10%;
    padding: 20px;
    display: inline-flex;
    color: #ffffff;

    
}

.entry {
    display: grid;
    grid-template-columns: 10% 40% 20% 15% 5%;
    border: purple;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
    margin: 20px;
    /*gradient that goes  from transparent to purple*/
    background: linear-gradient(125deg, transparent, transparent, purple);
    
}

.icon {

    width:100px;
    height: 100px;
    padding: 10px;
}

.title p{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;

}

.author-pfp {
    width: 150px;
    height: 150px;
    padding: 5px;
}

/*text styles*/
.title {
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.content {
    color: #ffffff;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}

/*comment styles*/
.comment-box {
    background-color: transparent;
    color: #ababab;
    font-style: italic;
    font-weight: lighter;
}

.comment {
    background-color: inherit;
    color: inherit;
    font-style: inherit;
    
}
