@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap'); 

*{
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}

body {
    background-color: black;

}

h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    
}

hr {
    color: #ffffffa9;
    height: 1px;
    width: 80%;
    align-content: center;

}

img {
    max-width: 100%;
    max-height: 100%;
}


/*button styles*/
.collapse {
    background-color: transparent;
    text-align: center;
    color: #cccccc;
    


}

.active, .collapsible:hover {
    background-color: #ccc;
  }



/*div & span styles*/
.container {
 
    margin-left: 20px;
    padding: 20px;
    display: grid;
    grid-row: 1;

    color: #ffffff;
    
}

.entry {
    display: grid;
    grid-template-columns: 20% 30% 20% 15% 5%;
    border: purple;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 100px;
    width: 900px;
    margin: 10px;
    
}

.icon {

    width:100px;
    height: 100px;
    padding: 10px;
}

.title p{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;

}

.author-pfp {
    width: 150px;
    height: 150px;
    padding: 5px;
}

/*text styles*/
.title {
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}

.content {
    color: #ffffff;
    font-size: medium;
    font-weight: normal;
    font-style: normal;
}

/*comment styles*/
.comment-box {
    background-color: transparent;
    color: #ababab;
    font-style: italic;
    font-weight: lighter;
}

.comment {
    background-color: inherit;
    color: inherit;
    font-style: inherit;
    
}
