body {
    background-color: black;
}


.line {
    /* animation-name: line-extend;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; */
    width: 2px;
    background-color: white;
    position: absolute;
    float:left;
    top: auto;
    height: 100px;
    left: 3%;
}

@keyframes line-extend {
    to {height:10%; }
}


.node {
    top:auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    display: flex;
    float: left;
}



.title {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

.circle {
    border-color: white;
    border-style: solid;
    border-radius:  100%;
    background-color: #333;
    width: 100px;
    height: 100px;
    overflow: hidden;
}




#container {
    display: grid;
    max-height: fit-content;
}