body {
    background-color: black;
}

img {
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.line {
    animation-name: line-extend;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    width: 2px;
    background-color: #ffffff;
    position: absolute;
    top: auto;
    height: 0%;
    left: 3%;
    z-index: 1;
}

@keyframes line-extend {
    to {height:104px; }
}



.node {
    top:auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}




.title {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
}

.circle {
    border-color: white;
    border-style: solid;
    border-radius:  100%;
    background-color: #333;
    width: 100px;
    height: 100px;
    overflow: hidden;
}


#container {
    display: grid;
    max-height: fit-content;
    position: relative;
    grid-column: 2;
}
