@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap'); 

*{
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}



form {
    margin:20px;

}

textarea {
    background-color: #191919;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    width:25%;
    height: 100px;
}

#title {
    color: white;
    margin-left: 5%;
    font-size: 50px;
    font-weight: bold;
}

.info-bar {
    margin: 10px;

}

.post {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 5%;
    color: #cdcdcd;
}

#cover-image {
    width:70%;
    margin: 0% 10%;
}


/*comment styles*/
#comments {
    background-color: transparent;
    color: #ababab;
    font-style: italic;
    font-weight: lighter;
}

.comment {
    background-color: inherit;
    color: inherit;
    font-style: inherit;
    display: grid;
    grid-template-columns: 10% 90%;
    margin-top: 50px;
    
}

.comment .text {
    /*comment text*/
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: left;

}

.comment .commenter {
    /*comment author*/
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

.comment .commenter-pfp {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50px;
    margin-left: 15px;
}

.add-comment {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border-color: purple;
    border-style: solid;
    border-width: 2px;
}

.add-comment:active {
    color: white;
    background-color: purple;
}

#return {
    margin-top: 30px;
    margin-left: 200px;
    border: #6699cc;
    background-color: transparent;
    color:white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;

    text-decoration: none;

    padding: 10px;
    width: 12%;
}

#return:active {
    background-color: #6699cc;
}