.post {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 5%;
}

#cover-image {
    width:70%;
    margin: 0% 10%;
}


/*comment styles*/
#comments {
    background-color: transparent;
    color: #ababab;
    font-style: italic;
    font-weight: lighter;
}

.comment {
    background-color: inherit;
    color: inherit;
    font-style: inherit;
    display: grid;
    grid-template-columns: 10% 90%;
    
}

.comment .text {
    /*comment text*/
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-align: left;

}

.comment .commenter {
    /*comment author*/
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    text-align: left;
}

.comment .commenter-pfp {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    width:100px;
}

.add-comment {
    width: 200px;
    height: 30px;
    margin-left: 20px;
    background-color: transparent;
    color: white;
    border-radius: 12px;
    border-color: purple;
    border-style: solid;
    border-width: 2px;
}