form input, textarea {
    background-color: #191919;
    border: 3px solid #ccc;
    border-radius: 4px;
    color: white;
    width:50%;
    height: 75px;
    margin: 2% 25%;
    padding: 1%;
}

textarea {
    height: 500px;
    border-color: purple;
}


#editor {
    width:100%;
    height:60%;
}

#submit {
    margin-top: 30px;
    margin-left: 20px;
    border: #6699cc;
    background-color: transparent;
    color:#6699cc;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    
    text-decoration: none;

    padding: 10px;
    width: 12%;
    margin-left: 25%;

}

#submit:active {
    color: white;
    background-color: #6699cc;
}