@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap'); 

*{
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
	
}

body, html {
    background-color: rgb(25, 25, 25);
    color: #ffffff;
    height: 100%;
    margin: 0;
    padding: 0;

}

h1 {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

canvas .particles-js-canvas-el {
    width: 100vw !important;
    height: 100vh !important;
}



/*div & span styles*/
#container {
    margin-left: 10%;
    padding: 20px;
    display: block;
    color: #ffffff; 
    position: absolute;
    z-index: 1;

}

#particles {
    position:fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
    
}

#add-post {
    margin-top: 30px;
    margin-left: 200px;
    border: #6699cc;
    background-color: transparent;
    color:white;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    
    text-decoration: none;

    padding: 10px;
    width: 12%;
}

#add-post:active {
    background-color: #6699cc;
}

.entry {
    border: purple;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    height: 500px;
    width: 500px;
    float: left;
    margin: 30px;
    overflow: hidden;
    /*gradient that goes from transparent to purple*/
    background: linear-gradient(125deg, rgb(25,25,25), rgb(25,25,25), rgba(128, 0, 128, 0.736));
}

.icon {

    width:100px;
    height: 100px;
    padding: 10px;
}


/*text styles*/
.title {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-top: 5%;
    margin-left: 5%;

}


.info-bar {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    margin: 30px;
    text-align: left;
    margin-left: 5%;
}

.content {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    margin: 30px;

    background: linear-gradient(#ffffff, #ffffff, purple, transparent);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

