@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap'); 


body {
    background-color: #191919;
}

form input {
    background-color: #3e3e3e;
    border: 3px solid #ccc;
    border-radius: 4px;
    color: white;
    width:50%;
    height: 75px;
    margin: 2% 10%;
    padding: 1%;
    font-size: 20px;
}

#submit {
    margin-top: 30px;
    margin-left: 10%;
    border: #6699cc;
    background-color: transparent;
    color:#6699cc;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    
    text-decoration: none;

    padding: 10px;
    width: 12%;

}

#date {
    width: 10%;
    color:white;

}
::-webkit-calendar-picker-indicator { 
    background: transparent;
    color: white;
 }


.node {
    top:auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}




.title {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    vertical-align: middle;
    margin-top: 50px;
}

.circle {
    border-color: white;
    border-style: solid;
    border-radius:  100%;
    background-color: #333;
    width: 200px;
    height: 200px;
    overflow: hidden;
}


#container {
    display: inline;
    max-height: fit-content;
    position: absolute;
    grid-column: 2;
}

/*button styles*/
.delete {
    margin-left: 5%;
    background-color: transparent;
    color:white;
    text-decoration: none;
    width: 12% !important;
    border-style: none;
}

.delete:active {
    border: #6699cc;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;    
}